<h1>BlogPost#index</h1>
<% @blog_posts.each do |post|%>
<h2 ><%= link_to post.title, post%></h2>
<% if post.draft? %>
    <div class="text-gray-900">Draft</div>
<% elsif post.scheduled? %>
    <div class="text-blue-900">Scheduled</div>
<% end %>
<p><%= post.content%></p>
<% end %>

<% if user_signed_in? %>
    <%= link_to "new post", new_blog_post_path%>
<% end %>
